* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

:root {
    --box-shadow: 0 0 45px rgba(0, 0, 0, 0.316);
    --color-boton1: rgba(255, 255, 255, 0.608);
    --color-componente: rgba(255, 255, 255, 0.181);
    
  }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-family: inherit;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  --color-secundario:rgba(51, 140, 241, 0.635);
  background-color: var(--color-secundario);
  box-shadow: var(--box-shadow);
  font-family: inherit;
}

button{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    background-color: var(--color-boton1);
    font-weight: 700;
    font-size: 18px;
    font-family: inherit;
}

.card__boton{
    width: 90vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-family: inherit;
}

.gestion{
  width: 90%;
}
