* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  /* outline: 3px solid red; */
  overflow: hidden;
  width: 100%;
  height: auto;
}

.card__figure {
  width: 100%;
  height: 50vh;
  /* outline: 2px solid red; */
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__h3 {
  font-family: "Open Sans", sans-serif;
}

.card__logo {
  width: 100%;
}

.card__text {
  width: 100%;
  height: 100%;

  background-image: url(../../../public/Tu_Mascota_Tienda-T.png);
  background-repeat: no-repeat;
  background-size: auto;
}

.card__link {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1325px) {
  .card__img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1160px) {
  .card__figure {
    width: 100%;
    height: 40vh;
    /* outline: 2px solid red; */
    overflow: hidden;
  }

  .card {
    /* outline: 3px solid red; */
    font-size: 80%;
  }
}

@media screen and (max-width: 945px) {
  .card__figure {
    height: 30vh;
    /* outline: 2px solid red; */
  }

  .card {
    /* outline: 3px solid red; */
    font-size: 70%;
  }
}

@media screen and (max-width: 815px) {
  .card__figure {
    height: 30vh;
    /* outline: 2px solid red; */
  }

  .card {
    /* outline: 3px solid red; */
    font-size: 60%;
  }
}

@media screen and (max-width: 660px) {
  .card__figure {
    height: 25vh;
    /* outline: 2px solid red; */
  }

  .card {
    /* outline: 3px solid red; */
    font-size: 50%;
  }
}

@media screen and (max-width: 520px) {
  .card__figure {
    height: 17vh;
    /* outline: 2px solid red; */
  }

  .card {
    /* outline: 3px solid red; */
    font-size: 40%;
  }
}

@media screen and (max-width: 420px) {
  .card__figure {
    height: 17vh;
    
    /* outline: 2px solid red; */
  }

  .card {
    /* outline: 3px solid red; */
    font-size: 40%;
  }
}

@media screen and (max-width: 340px) {
  .card__figure {
    height: 15vh;
    
    /* outline: 2px solid red; */
  }

  .card {
    /* outline: 3px solid red; */
    font-size: 35%;
  }
}