*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detail{
 width: 100%;
    
}

.detail__figure{
    margin: 60px auto;
    display: flex;
    width: 50%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;

}

.detail__img{
    display: flex;
   
}