* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 3px solid red; */
}

:root {
  --color-imagen: linear-gradient(360deg, #f9954e6e 50%, #f9954e6c 50%);

  --color-primario: #080707;
  --color-secundario: #f9954e;
  --color-neutro: #e7dfd9;
  --color-aux: #7c4c24;
  --color-contraste: #f9954ebb;
  --box-shadow: 0 0 45px rgba(0, 0, 0, 0.392);
}

body {
  /* outline: 3px solid red; */
  background-image: url(../../../public/textura_deatil.jpg);
  background-size: cover;
}

.detail {
  width: 97%;
  height: 1400px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto;
  padding: 50px;
  border-radius: 30px;
  
 

}

.detail__listaImg {
  display: flex;
  flex-direction: column;
  /* outline: 3px solid rgb(255, 230, 0); */
  width: 55%;
  align-items: center;

  


  
}

.detail__figure_img {
  width: 100%;
  /* outline: 3px solid rgb(0, 102, 255);  */
  padding: 20px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.333);

  border-radius: 20px;
}

.detail__img {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  border: 5px solid var(--color-secundario);
  border-radius: 5px;
}

.detail__prev {
  height: 40px;
  border: none;
  margin: 10px 90px;
}

.detail__flecha_prev {
  height: 100%;
  rotate: 180deg;
}

.detail__flecha_next {
  height: 100%;
}

.detail__texts {
  width: 40%;
  height: 300px;
  background-color: white;
  /* outline: 3px solid red; */
  box-shadow: var(--box-shadow);
}
