* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* outline: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards{
  width: 100%;
  /* outline: auto;   */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards__card {
  margin: 30px;
  padding: 20px;
  width: 50vh;
  height: auto;
  align-items: center;

  border-radius: 10px;

  color: rgb(200, 74, 1);
  --color-secundario: #e98f28e2;

  background-color: var(--color-secundario);
  background-repeat: no-repeat;
  background-position: top;

  font-family: "Bilbo", cursive;
  font-size: 25px;
}



.pagination{
  
  padding: 2vh;
}

.pagination__boton{
  margin: 1vh;
}

@media screen and (max-width: 425px) {
  .container {
   width: 100%;
  }
  
  .cards__card {
    /* outline: auto; */
    margin: 10px;
    padding: 20px;
    width: 50vh;
    height: auto;
 
  }
  .pagination{
    text-align: center;
    /* outline: auto; */
    width:  100%;
    padding: 0;
  }

  .pagination__boton{
    margin: 3vh 1vh;
    padding: 1vh;
    font-size: 2vh;
    border-radius: 0.5vh;
  }


}
@media screen and (max-width: 320px) {
  .cards__card{
    /* outline: 3px solid black; */
    padding: 1vh;
  }

  
  
  }




