* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* outline: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  width: 100%;
  /* outline: auto;   */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards__card {
  /* outline: auto;   */
  border: 1px solid white;
  margin: 30px;
  padding: 0.5%;
  width: 50vh;
  height: auto;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;

  color: rgb(200, 74, 1);
  --color-secundario: #e98f28e2;

  background-color: var(--color-secundario);
  background-repeat: no-repeat;
  background-position: top;

  font-family: "Bilbo", cursive;
  font-size: 25px;
}

.pagination {
  padding: 2vh;
}

.pagination__boton {
  margin: 1vh;
}



@media screen and (max-width: 1309px) {
  .cards__card {
    /* outline: auto;   */
    margin: 3vh 1vh;
  }
}

@media screen and (max-width: 1160px) {
  .cards__card {
    /* outline: auto;   */
    margin: 3vh 1vh;
    width: 25%;
    height: 60vh;
  }
}

@media screen and (max-width: 945px) {
  .cards__card {
    /* outline: auto;   */
    margin: 3vh 1vh;
    width: 25%;
    height: 45vh;
  }
}

@media screen and (max-width: 815px) {
  .cards__card {
    /* outline: auto;   */
    margin: 3vh 1vh;
    width: 25%;
    height: auto;
  }
}

@media screen and (max-width: 660px) {
  .cards__card {
    /* outline: auto;   */
    margin: 3vh 1vh;
    width: 25%;
    height: auto;
  }
  .pagination {
    padding: 1vh;
  }
  
  .pagination__boton {
    margin: 1vh;
    padding: 1.1vh;
  }
}

@media screen and (max-width: 520px) {
  .cards__card {
    /* outline: auto;   */
    margin: 3vh 0.1vh;
    width: 25%;
    height: auto;
  }
}


@media screen and (max-width: 420px) {
  .cards__card {
    /* outline: auto;   */
    margin: 3vh 0.1vh;
    width: 35%;
    height: auto;
  }
  .pagination {
    padding: 1vh;
  }
  
  .pagination__boton {
    margin: 1vh;
    padding: 1.1vh;
    font-size: 60%;
  }
}

@media screen and (max-width: 340px) {
  .cards__card {
    /* outline: auto;   */
    margin: 2vh 0.1vh;
    width: 45%;
    height: auto;
  }
  .pagination {
    padding: 1vh;
  }
  
  .pagination__boton {
    margin: 0.4vh;
    padding: 1vh;
    font-size: 40%;
  }

}

